.btn-uber {
  background-color: black;
  color: white;
  font-size: 15px;
  height: 50px;
  width: 120px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  transition: opacity 0.15s;
}

.btn-uber:hover {
  opacity: 0.8;
}

.btn-amazon {
  background-color: rgb(255, 216, 20);
  height: 30px;
  width: 140px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.15s;
}

.btn-amazon:hover {
  background-color: rgb(245, 205, 3);
}

.btn-github {
  background-color: rgb(46, 164, 79);
  color: white;
  border: none;
  height: 40px;
  width: 90px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  transition: box-shadow 0.15s;
}

.btn-github:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}

.btn-btstrap {
  background-color: rgb(121, 82, 179);
  color: white;
  margin-top: 20px;
  border: none;
  height: 40px;
  width: 110px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s;
}

.btn-btstrap:hover {
  background-color: rgb(99, 60, 156);
}

.btn-download {
  background-color: white;
  color: rgb(108, 117, 125);
  margin-top: 20px;
  border-width: 1px;
  height: 40px;
  width: 110px;
  border-radius: 4px;
  font-weight: bold;
  border-style: solid;
  border-color: rgb(108, 117, 125);
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.15s, color 0.15s;
}

.btn-download:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}

.btn-linkedin {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  height: 40px;
  width: 240px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.btn-linkedin:hover {
  background-color: rgb(2, 70, 138);
}

.btn-save {
  background-color: white;
  color: rgb(10, 102, 194);
  height: 40px;
  width: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(10, 102, 194);
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.btn-save:hover {
  background-color: rgb(10, 102, 194);
  color: white;
}

a {
  color: rgb(0, 113, 133);
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  color: rgb(199, 81, 31);
}

.price {
  color: rgb(0, 118, 0);
  font-size: 20px;
  font-weight: bold;
}

.btn-cart {
  background-color: rgb(255, 216, 20);
  font-weight: bold;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.btn-cart:hover {
  background-color: rgb(247, 202, 0);
}

.btn-cart:active {
  opacity: 0.5;
}

.btn-buy {
  background-color: rgb(255, 164, 28);
  font-weight: bold;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.btn-buy:hover {
  background-color: rgb(250, 137, 0);
}

.btn-buy:active {
  opacity: 0.5;
}
